.u-section-1 .u-sheet-1 {
  min-height: 154px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-size: 6rem;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-size: 6rem;
  margin: 0 auto 30px 37px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .u-form-1 {
  height: 338px;
  margin: 31px 570px 60px 0;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-form-group-5 {
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-right: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
    margin-right: 0;
  }
}