.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-text-1 {
  font-size: 12.5rem;
  font-family: Cormorant;
  line-height: 1;
  letter-spacing: 35px;
  font-weight: 300;
  margin: 144px 201px 0 225px;
}

.u-section-1 .u-text-2 {
  font-family: Oswald, sans-serif;
  width: 570px;
  font-weight: 300;
  margin: 39px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  font-weight: normal;
  margin: 74px auto 60px;
  padding: 12px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 101px;
    margin-left: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-right: -18px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 822px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-family: Cormorant;
  line-height: 0.8;
  text-align: start;
  font-size: 6.25rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-family: Cormorant;
  line-height: 0.8;
  text-align: start;
  font-size: 6.25rem;
  margin: 20px 0 0 409px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 1px;
  margin: -41px auto 0 54px;
}

.u-section-2 .u-image-2 {
  width: 70px;
  height: 10px;
  margin: 75px auto 0 409px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 432px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  margin-bottom: 0;
  margin-top: 0;
  height: 422px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 432px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 16px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 46px 0 28px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 12px 83px 0 29px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-align: left;
  margin: 40px 235px 0 28px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
  margin: 12px 61px 0 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-align: left;
  margin: 40px 237px 0 29px;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
  margin: 12px 61px 0 28px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 472px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 16px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -3px 46px 0 28px;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 12px 41px 0 23px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  text-align: left;
  margin: 40px 237px 0 27px;
}

.u-section-2 .u-text-12 {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
  margin: 12px 48px 0 28px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 0.75rem;
  background-image: none;
  font-weight: normal;
  margin: 66px auto 0 23px;
  padding: 10px 80px 11px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 209px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 23px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
    margin-left: 317px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 43px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 356px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-3 {
    height: 348px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 356px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 44px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 195px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 22px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 197px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 389px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-2 .u-image-3 {
    width: 681px;
    left: 16px;
    right: auto;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 523px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 523px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 36px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-2 .u-image-3 {
    width: 524px;
    height: 269px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 0 -10px auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1284px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 270px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 169px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 175px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 390px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 803px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: Cormorant;
  line-height: 0.8;
  text-align: start;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-family: Cormorant;
  line-height: 0.8;
  text-align: start;
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 1px;
  margin: -41px auto 0 32px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1193px;
  margin: 90px -53px 52px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 521px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 353px;
  width: 245px;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 8px 54px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 8px 60px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 20px auto 0 -2px;
  padding: 8px 78px 9px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: 353px;
  width: 245px;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 8px 54px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 8px 60px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 20px auto 0 -2px;
  padding: 8px 78px 9px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  height: 353px;
  width: 245px;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  margin: 8px 54px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 8px 60px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 20px auto 0 -2px;
  padding: 8px 78px 9px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  height: 353px;
  width: 245px;
  margin: 0 40px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  margin: 8px 54px 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 8px 60px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 20px auto 0 -2px;
  padding: 8px 78px 9px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 410px;
  }

  .u-section-3 .u-image-2 {
    width: 280px;
    margin-right: 34px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 280px;
    margin-right: 34px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    width: 280px;
    margin-right: 34px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    font-weight: normal;
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 280px;
    margin-right: 34px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    font-weight: normal;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1256px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1737px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 289px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 289px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 289px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 289px;
  }
} .u-section-4 {
  min-height: 500px;
}

.u-section-4 .u-image-1 {
  width: 1000px;
  height: 169px;
  margin: 165px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 160px;
  height: 160px;
  margin: -230px auto 0 calc(((100% - 1140px) / 2) + 76px);
}

.u-section-4 .u-image-3 {
  width: 160px;
  height: 160px;
  margin: -160px auto 0 calc(((100% - 1140px) / 2) + 296px);
}

.u-section-4 .u-image-4 {
  width: 160px;
  height: 160px;
  margin: -160px calc(((100% - 1140px) / 2) + 464px) 0 auto;
}

.u-section-4 .u-image-5 {
  width: 160px;
  height: 160px;
  margin: -160px calc(((100% - 1140px) / 2) + 244px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 504px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 159px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -220px;
    margin-left: calc(((100% - 940px) / 2) + 76px);
  }

  .u-section-4 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2) + 296px);
  }

  .u-section-4 .u-image-4 {
    margin-right: calc(((100% - 940px) / 2) + 264px);
  }

  .u-section-4 .u-image-5 {
    margin-right: calc(((100% - 940px) / 2) + 44px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 467px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 122px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -183px;
    margin-left: calc(((100% - 720px) / 2) + 76px);
  }

  .u-section-4 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 296px);
  }

  .u-section-4 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2) + 464px);
  }

  .u-section-4 .u-image-5 {
    margin-right: calc(((100% - 720px) / 2) + 44px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 504px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 92px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -172px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-5 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 810px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 58px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 305px;
    margin-right: calc(((100% - 340px) / 2) + 10px);
  }

  .u-section-4 .u-image-3 {
    margin-top: -350px;
    margin-right: calc(((100% - 340px) / 2) + 10px);
  }

  .u-section-4 .u-image-4 {
    margin-top: -233px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-5 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }
}